html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
fieldset{border:0}
a,a *{cursor:pointer}
div{margin:0;padding:0;background-color:transparent;text-align:left}
hr,img{border:0}
applet,iframe,object{border:0;margin:0;padding:0}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label{cursor:pointer;}
ul,li{list-style:none;margin:0;padding:0;}
strong{font-weight:bold;}
em{font-style:italic;} 

.rot-180{
  transform: rotate(180deg);
}

body {
  background-color:#4a69bd;
  box-sizing: border-box;
  /* background-color: #ebc8c8; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i{
  cursor: pointer;
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li{
  list-style: none;
}
input {
  background-color: rgba(0,0,0,0);
  color: #f1f1f1;
  font-size: 15pt;
  font-weight: 600;
  padding: 5px 10px ;
  border: 2px solid #f1f1f1;
  border-radius: 9px;
  ime-mode: disabled;
  transition: background-color 0.5s;
  /* border-bottom: 1px solid gray; */
}

input:focus {
  background-color:#6a89cc;
  box-shadow: 0 0 15px #f1f1f1;
  outline: none;
}

input::placeholder{
  color: #c0c0c0;
}

button {
  cursor: pointer;
  font-size: 15pt;
  padding: 5px 8px;
  border: none;
  border-radius: 5%;
  box-sizing: border-box;
  background-color: orange;
}

header {
  padding: 20px;
}

header .header-row{
  display: flex;
}

header .header-row * {
  margin-top: auto;
  margin-bottom: auto;
}

header .header-row .new-group-layout {
  flex: 0.7;
  order:1;
  display: flex;
}

header .header-row .new-group-layout i{
  margin-left: 10px;
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

header .header-row .new-group-layout i:hover{
  text-shadow: 0.06em 0.06em 2px #111111;
}

header .header-row .logo {
  cursor: default;
  color: #f1f1f1;
  flex: 1;
  order: 2;
  display: flex;
  transition: text-shadow 0.4s;
}

header .header-row .logo:hover {
  text-shadow: 10px -4px 1px #111111;
  /* text-shadow: 0 0 5px #f1f1f1; */
}

header .header-row .logo h1{
  font-size: 2em;
  margin: auto;
}

header .header-row .search {
  text-align: right;
  flex: 0.7;
  order:3;
}

header .header-row .new-group-detail {
  flex:1;
}


/********************************/
.groups-layout{
  /* background-color: #f9f9f9; */
  width: 90%;
  margin: 0 auto;
  padding: 50px 10px;
}

.groups-layout .groups-container {
  
}

.groups-layout .groups-container .group-row {
  /* background-color:#2c3e50; */
  display: flex;
  margin-bottom: 10px;
}
/* 
.groups-layout .groups-container .group-row:nth-child(2n) {
  background-color:#ecf0f1;
  color: #dfe4ea;
  display: flex;
  margin-bottom: 50px;
} */



.groups-layout .groups-container .group-row .group {
  max-width: 90%;
  flex-basis: 90%;
  margin: auto;
  
  animation-duration: 0.5s;
  animation-name: fadein;
}

.group .tab-container{
  padding-bottom: 30px;
  transition: transform 1s, opacity 1s;
  display:flex;
}

.groups-layout .groups-container .group-row .group .tab-container {
  overflow: hidden;
}
/* 
.groups-layout .groups-container .group-row :not(.group-detailed) .tab-item{
  animation-duration: 0.2s;
  animation-name: pushup;
  animation-fill-mode: forwards;
}

.groups-layout .groups-container .group-row .group-detailed .tab-item{
  animation-duration: 0.2s;
  animation-name: pushdown;
  animation-fill-mode: forwards; 
}

@keyframes pushup{
  0%{
    opacity: 1;
  }

  100%{
    transform: translateY(-150px);
    opacity: 0;
    display: none;
  }
}

@keyframes pushdown{
  0%{
    transform: translateY(-50px);
    opacity: 0;
    display:none;
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
  }
} 
*/

@keyframes fadein{
  0% {
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.group .header {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.group .header:hover{
  background-color: rgba(255,255,255,.1);
}

.group .header .group-name{
  padding-left: 10px;
  font-size: 1.8em;
  color: #f1f1f1;
  /* flex: 1; */
  margin: auto 20px auto 0;
  margin-top: auto;
  margin-bottom: auto;
  transition: background-color 0.2s;
  cursor: pointer;
  transition: text-shadow 0.5s, font-size 0.2s;
}

.group .header .group-name:hover{
  /* font-size: 2em; */
  text-shadow: 10px -4px 1px #111111;
}

.group .header .group-nav{
  font-size: 0.8em;
  height: 100%;
  margin: auto auto auto 0;
}

.group .header .group-nav i {
  
  color: rgba(255,255,255,.5);
  margin-right: 10px;
  opacity: 0;
  transition: opacity 0.2s, color 0.2s;
}

.group .header:hover i {
  opacity: 1;
}

.group .header .group-nav i:hover {
  
  color: rgba(255,255,255,1);
}

.tab-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

 .tab-container .tab-item{
  cursor: pointer;
  flex-basis: 300px;
  max-width: 300px;
  min-width: 300px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 10px;

  box-sizing: border-box;
  background-color: #6a89cc;
  border-radius: 5px;
  /* box-shadow: 1px 1px 0.5px rgba(110, 110, 110,.5); */
  /* border: 1px solid black; */
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab-container .selected {
  opacity: 0.5;
}

.tab-item .header,
.tab-item .content,
.tab-item .footer {
  padding-left: 20px;
  padding-right: 5px;
}

.tab-item .header{
  margin-left: auto;
  color: rgba(50, 50, 50, .3);
  font-size: 0.9em;
  font-weight: bold;
}

.tab-item .content{
  display: flex;
  flex:1;
}

.tab-item .content .icon{
  flex-basis:30px;
  height:30px; 
  margin: auto; 
  margin-right: 10px;
}

.tab-item .content .desc{
  margin: auto;
  flex: 1;
}

/* .tab-item .content .desc .tab-title,
.tab-item .content .desc .url{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
} */

.tab-item .content .desc .tab-title{
  /* color: #111111; */
  color:#f1f1f1;
  font-weight: bold;
  margin-top:auto;
  margin-bottom: auto;
}

.tab-item .content .desc .url{
  /* color: #111111; */
  color:rgba(236, 240, 241, .8);
  font-size: 0.8em;
  font-weight: 400;
  margin-top:auto;
  margin-bottom: auto;
}

.tab-item .footer{
  font-weight: 500;
  color: #c2c2c2;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-top: 1px solid rgba(100,100,100,.1);
  /* background-color: #444444; */
}

.tab-item .footer span {
  padding-bottom: 3px;
  text-align: center;
}